body {
    background: rgb(240, 240, 240);
    color: rgb(20, 20, 20);
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: red;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
   text-decoration: none;
   color: green;
}
/*custom design here*/

#banner {
    background-image: url("https://picsum.photos/1000/600");
    border-radius: 10px;
    padding: 150px 0;
    text-align: center;
    color: white;
    background-size: cover;
}
#banner h1{
    color: white;
}
#banner p{
    color: white;
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.7;
}
.card{
    padding: 50px;
    text-align: center;
}
#footer{
    background: black;
    color: white;
    font-size: 20px;
    padding: 10px;
}
#footer a{
    font-size: 20px;
    color: grey;
}
#footer a:hover{
    color: white;
}
table{
    width: 50%;
    background-color: pink;
    padding: 4px;
    border: 2px solid red;
}
th, td{
    text-align: center;
    border: 2px solid red;
    padding: 15px;
    font-family: fantasy;
}
caption{
    text-align: center;
    border: 2px solid red;
}