input{
    width: 100%;
}
div{
    border: 3px solid green;
    text-align: center;
    padding: 50px;
}
form{
    width: 300px;
    border: 5px solid green;
    padding: 10px;
    
}
textarea{
    resize: none;
}
input, textarea{
    outline: none;
    box-shadow: 2px 5px 6px green;
}
::placeholder, ::-ms-value{
    color: red;
    opacity: 1;
}